@use 'shared/styles/03_mixins' as mixins;

.container {
  @include mixins.flex-box($direction: row, $align: center, $justify: start, $gap: 2px, $wrap: wrap);
  padding-left: 2px;
}

.image {
  width: 117px;
  height: 117px;
}
