@use './01_figma' as fig;

:root {
  /* ========= Brand ========= */
  --brand-primary: #{fig.$figma-accent-violet-primary};
  --brand-secondary: #{fig.$figma-accent-violet-secondary};
  --brand-dark: #{fig.$figma-accent-violet-dark};
  --brand-dark-60: #{fig.$figma-accent-violet-dark-60};
  --brand-violet-white: #{fig.$figma-accent-violet-white};
  --barnd-violet-super-light: #{fig.$figma-accent-violet-super-light};
  --brand-blue: #{fig.$figma-system-blue};

  /* ========= Text ========= */
  --text-brand: var(--brand-primary);

  --text-primary: #{fig.$figma-text-black};
  --text-secondary: #{fig.$figma-text-gray};

  --text-inverse: #{fig.$figma-white};
  --text-inverse-status: #{fig.$figma-gray-tone-gray-light-80};

  --text-state-disabled: #{fig.$figma-gray-tone-gray-dark};
  --text-state-error: #{fig.$figma-system-red};

  /* ========= Surface / Background ========= */
  --surface-brand: var(--brand-primary);
  --surface-base: #{fig.$figma-white};
  --surface-secondary: #{fig.$figma-gray-main-light};
  --surface-secondary-50: #{fig.$figma-gray-main-light-50};
  --surface-disabled: #{fig.$figma-gray-tone};
  --surfase-message-card: #{fig.$figma-complementary-teal-secondary};

  --surface-section-header: #{fig.$figma-accent-violet-super-light};
  --surface-scroll: #{fig.$figma-gray-tone-gray-dark};
  --surface-hover-card: var(--barnd-violet-super-light);
  --surface-active-card: var(--brand-dark-60);

  --surface-delete-selected-button: #{fig.$figma-gray-tone-gray};

  /* ========= Border ========= */
  --border-brand: var(--brand-primary);
  --border-state-error: #{fig.$figma-system-red};
  --border-layout: #{fig.$figma-gray-tone-gray};
  --border-card-contact: #{fig.$figma-gray-tone};
}
